.scrollbar {
    position: fixed;
    background: grey;
    height: 40%;
    width: 10px;
    border-radius: 5px;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.scrollbar-active {
    position: fixed;
    background: white;
    height: 10%;
    width: 100%;
    border-radius: 5px;
    top: 0;
    transition: height 1s ease-in-out;
}