/* General CSS Setup */
* {
  font-family: "Raleway";
}

a,
a:active,
a:visited {
  color: black;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: black;
  color: white;
}
/* Scroll Snap and NextSection Start */
.scroll-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: auto;
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none; */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.snap-section {
  height: 100vh;
  /* scroll-snap-align: start; */
  display: grid;
  flex-direction: column;
  place-items: center;
  font-size: 2rem;
  white-space: nowrap;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.next-section {
  animation: float 1.5s infinite;
}
/* Intro Section CSS */
.intro {
  position: relative;
  /* background-color: #000; */
}
.type-intro {
  color: #fff;
  font-family: "Raleway";
  font-weight: 300;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translate(var(--x), var(--y)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(var(--x), var(--y)) rotate(-360deg);
  }
}

.orbiting-element {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: height 1s ease-in-out, width 1s ease-in-out;
}
.float-svg {
  width: 100px;
  height: 100px;
  transition: all 0.5s ease-in-out;
}
.float-svg:hover {
  width: 120px;
  height: 120px;
}

.orbiting-element:nth-child(1) {
  animation: orbit 10s linear infinite;
  --x: 500px;
  --y: 0;
}
.orbiting-element:nth-child(2) {
  animation: orbit 10s linear infinite;
  --x: 0;
  --y: -500px;
}
.orbiting-element:nth-child(3) {
  animation: orbit 10s linear infinite;
  --x: -500px;
  --y: 0;
}
.orbiting-element:nth-child(4) {
  animation: orbit 10s linear infinite;
  --x: 0;
  --y: 500px;
}
.orbiting-element:nth-child(5) {
  animation: orbit 10s linear infinite;
  --x: 350px;
  --y: 350px;
}
.orbiting-element:nth-child(6) {
  animation: orbit 10s linear infinite;
  --x: -350px;
  --y: 350px;
}
.orbiting-element:nth-child(7) {
  animation: orbit 10s linear infinite;
  --x: 350px;
  --y: -350px;
}
.orbiting-element:nth-child(8) {
  animation: orbit 10s linear infinite;
  --x: -350px;
  --y: -350px;
}

/* Projects Section CSS */
#projects-sec > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway";
  font-weight: 100;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#projects-sec > h1::after {
  content: "";
  margin-bottom: -5px;
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 1s 1.5s ease-in-out;
}
#projects-sec > h1.animate::after {
  transform: scaleX(1.1);
}
#projects-sec > h1.animate {
  transition: opacity 0.5s ease-in-out, top 1s 0.5s ease-in-out,
    left 1s 0.5s ease-in-out;
  opacity: 1;
  top: 7vh;
  left: 15vw;
  /* transform: translate(-30vw, -40vh); */
}
.project-grid {
  width: 100vw;
  height: 80%;
  margin-top: 12vh;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  position: relative;
}
.project-card {
  width: 35%;
  aspect-ratio: 1/1;
  opacity: 0;
  border-radius: 50px;
  border: 1px solid rgb(53, 53, 53);
  transition: all 1s ease-in-out;
}
.card-content {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.card-content p {
  margin: 0;
  padding: 0 3%;
  text-justify: distribute-all-lines;
  text-wrap: wrap;
  font-size: 25px;
}
@keyframes rotateCard {
  0% {transform: rotateY(0);}
  100% {transform: rotateY(360deg);}
}
.animate-card {
  animation: rotateCard 1s ease-in-out;
  transition: all 1s 2s ease-in-out;
  transform: translateY(0);
  opacity: 1;
}
.goto-project {
  font-size: 50px !important;
  margin: 0 50px;
  flex: 1;
  align-self: end;
  cursor: pointer;
}
@keyframes nextIcon {
  0% {transform: translateX(0);}
  50% {transform: translateX(10px);}
  100% {transform: translateX(0);}
}
.goto-project:hover {
  animation: nextIcon 1s ease-in-out infinite;
}
